In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

#the data is slightly different now than it was when this assignment was created

In [3]:
neighbor_crime = pd.read_csv('crimes.csv')  
# Your code goes here.

In [4]:
neighbor_crime.head()

,CrimeDate,CrimeCode,Location,Description,Weapon,District,Neighborhood
0,07/11/2020,9S,3100 SWAN DR,SHOOTING,FIREARM,NORTHERN,MOUNT VERNON
1,07/11/2020,4E,2600 E HOFFMAN ST,COMMON ASSAULT,NaN,EASTERN,BEREA
2,07/11/2020,1A,4800 THE ALAMEDA,HOMICIDE,FIREARM,NORTHERN,NEW NORTHWOOD
3,07/11/2020,1A,3400 CLIFTON AV,HOMICIDE,FIREARM,SOUTHWEST,MOUNT HOLLY
4,07/11/2020,4C,5900 DAYWALT AVE,AGG. ASSAULT,OTHER,NORTHEAST,CEDONIA

In [5]:
neighbor_crime.shape

(308116, 7)

In [6]:
neighbor_crime.groupby(['Description', 'District']).count()

                        CrimeDate  CrimeCode  Location  Weapon  Neighborhood
Description  District
AGG. ASSAULT CENTRAL         3431       3431      3428    3431          3283
             EASTERN         3881       3881      3864    3881          3734
             NORTHEAST       4624       4624      4603    4624          4494
             NORTHERN        2786       2786      2770    2786          2691
             NORTHWEST       3298       3298      3289    3298          3173
...                           ...        ...       ...     ...           ...
SHOOTING     NORTHWEST        463        463       463     463           438
             SOUTHEAST        268        268       268     268           249
             SOUTHERN         475        475       475     475           463
             SOUTHWEST        584        584       584     584           571
             WESTERN          687        687       687     687           648

[138 rows x 5 columns]

In [7]:
neighbor_crime.groupby(['Description', 'District'])['Neighborhood'].aggregate('count')

Description   District
AGG. ASSAULT  CENTRAL      3283
              EASTERN      3734
              NORTHEAST    4494
              NORTHERN     2691
              NORTHWEST    3173
                           ...
SHOOTING      NORTHWEST     438
              SOUTHEAST     249
              SOUTHERN      463
              SOUTHWEST     571
              WESTERN       648
Name: Neighborhood, Length: 138, dtype: int64

In [8]:
neighbor_crime.groupby(['Description', 'District'])['Neighborhood'].aggregate('count').unstack()

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,UNKNOWN,WESTERN
Description,,,,,,,,,,
AGG. ASSAULT,3283.0,3734.0,4494.0,2691.0,3173.0,3525.0,3832.0,4026.0,44.0,3799.0
ARSON,74.0,122.0,234.0,102.0,178.0,91.0,161.0,170.0,6.0,112.0
AUTO THEFT,1728.0,1871.0,4867.0,2541.0,3424.0,2749.0,2855.0,3211.0,27.0,2564.0
BURGLARY,3272.0,3283.0,7367.0,5695.0,4707.0,5547.0,5336.0,4796.0,43.0,3107.0
COMMON ASSAULT,6033.0,5494.0,7165.0,4227.0,4492.0,6014.0,5301.0,5767.0,53.0,4694.0
HOMICIDE,119.0,285.0,253.0,131.0,270.0,126.0,194.0,275.0,NaN,308.0
LARCENY,9523.0,5041.0,9050.0,8378.0,6311.0,10251.0,7657.0,6096.0,69.0,4333.0
LARCENY FROM AUTO,5542.0,2881.0,5739.0,5151.0,3360.0,7593.0,3994.0,2844.0,55.0,1800.0
RAPE,237.0,205.0,263.0,209.0,197.0,203.0,231.0,207.0,0.0,181.0
ROBBERY - CARJACKING,235.0,150.0,380.0,307.0,374.0,273.0,294.0,321.0,4.0,282.0
ROBBERY - COMMERCIAL,735.0,389.0,832.0,702.0,566.0,755.0,570.0,487.0,6.0,283.0
ROBBERY - RESIDENCE,213.0,282.0,593.0,314.0,338.0,344.0,445.0,348.0,6.0,276.0
ROBBERY - STREET,3065.0,1608.0,3118.0,2302.0,1778.0,3574.0,2158.0,1561.0,20.0,1408.0
SHOOTING,284.0,593.0,440.0,278.0,438.0,249.0,463.0,571.0,NaN,648.0

In [9]:
neighbor_crime.head()

,CrimeDate,CrimeCode,Location,Description,Weapon,District,Neighborhood
0,07/11/2020,9S,3100 SWAN DR,SHOOTING,FIREARM,NORTHERN,MOUNT VERNON
1,07/11/2020,4E,2600 E HOFFMAN ST,COMMON ASSAULT,NaN,EASTERN,BEREA
2,07/11/2020,1A,4800 THE ALAMEDA,HOMICIDE,FIREARM,NORTHERN,NEW NORTHWOOD
3,07/11/2020,1A,3400 CLIFTON AV,HOMICIDE,FIREARM,SOUTHWEST,MOUNT HOLLY
4,07/11/2020,4C,5900 DAYWALT AVE,AGG. ASSAULT,OTHER,NORTHEAST,CEDONIA

In [13]:
neighbor_crime.pivot_table('Description', ['Description', 'Description'], 'Weapon',aggfunc='count')

Weapon                         FIRE  FIREARM  HANDS  KNIFE   OTHER
District Description
CENTRAL  AGG. ASSAULT           NaN    650.0  416.0  856.0  1506.0
         ARSON                 76.0      NaN    NaN    NaN     NaN
         HOMICIDE               NaN     91.0    NaN   20.0    10.0
         RAPE                   NaN      NaN    NaN    NaN   244.0
         ROBBERY - CARJACKING   NaN    161.0    NaN   11.0    16.0
...                             ...      ...    ...    ...     ...
WESTERN  ROBBERY - CARJACKING   NaN    209.0    NaN   15.0    15.0
         ROBBERY - COMMERCIAL   NaN    149.0    NaN   32.0    26.0
         ROBBERY - RESIDENCE    NaN     63.0    NaN   25.0    22.0
         ROBBERY - STREET       NaN    741.0    NaN  120.0   103.0
         SHOOTING               NaN    687.0    NaN    NaN     NaN

[88 rows x 5 columns]

In [14]:
neighbor_crime.pivot_table('Neighborhood', index='Description', columns='District', aggfunc='count')

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,UNKNOWN,WESTERN
Description,,,,,,,,,,
AGG. ASSAULT,3283.0,3734.0,4494.0,2691.0,3173.0,3525.0,3832.0,4026.0,44.0,3799.0
ARSON,74.0,122.0,234.0,102.0,178.0,91.0,161.0,170.0,6.0,112.0
AUTO THEFT,1728.0,1871.0,4867.0,2541.0,3424.0,2749.0,2855.0,3211.0,27.0,2564.0
BURGLARY,3272.0,3283.0,7367.0,5695.0,4707.0,5547.0,5336.0,4796.0,43.0,3107.0
COMMON ASSAULT,6033.0,5494.0,7165.0,4227.0,4492.0,6014.0,5301.0,5767.0,53.0,4694.0
HOMICIDE,119.0,285.0,253.0,131.0,270.0,126.0,194.0,275.0,NaN,308.0
LARCENY,9523.0,5041.0,9050.0,8378.0,6311.0,10251.0,7657.0,6096.0,69.0,4333.0
LARCENY FROM AUTO,5542.0,2881.0,5739.0,5151.0,3360.0,7593.0,3994.0,2844.0,55.0,1800.0
RAPE,237.0,205.0,263.0,209.0,197.0,203.0,231.0,207.0,0.0,181.0
ROBBERY - CARJACKING,235.0,150.0,380.0,307.0,374.0,273.0,294.0,321.0,4.0,282.0
ROBBERY - COMMERCIAL,735.0,389.0,832.0,702.0,566.0,755.0,570.0,487.0,6.0,283.0
ROBBERY - RESIDENCE,213.0,282.0,593.0,314.0,338.0,344.0,445.0,348.0,6.0,276.0
ROBBERY - STREET,3065.0,1608.0,3118.0,2302.0,1778.0,3574.0,2158.0,1561.0,20.0,1408.0
SHOOTING,284.0,593.0,440.0,278.0,438.0,249.0,463.0,571.0,NaN,648.0

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,UNKNOWN,WESTERN
Description,,,,,,,,,,
AGG. ASSAULT,3134.0,3604.0,4270.0,2573.0,3045.0,3417.0,3703.0,3852.0,48.0,3670.0
ARSON,70.0,117.0,233.0,100.0,178.0,90.0,151.0,167.0,6.0,111.0
AUTO THEFT,1673.0,1828.0,4768.0,2485.0,3353.0,2670.0,2777.0,3131.0,29.0,2500.0
BURGLARY,3174.0,3201.0,7212.0,5555.0,4585.0,5442.0,5254.0,4699.0,43.0,3016.0
COMMON ASSAULT,5805.0,5312.0,6943.0,4084.0,4345.0,5830.0,5102.0,5505.0,53.0,4547.0
HOMICIDE,113.0,273.0,245.0,127.0,251.0,120.0,187.0,257.0,NaN,297.0
LARCENY,9358.0,4894.0,8815.0,8175.0,6154.0,10033.0,7407.0,5918.0,70.0,4231.0
LARCENY FROM AUTO,5466.0,2801.0,5639.0,5081.0,3276.0,7404.0,3884.0,2767.0,58.0,1750.0
RAPE,227.0,196.0,257.0,204.0,192.0,193.0,224.0,204.0,NaN,177.0
ROBBERY - CARJACKING,226.0,145.0,365.0,299.0,364.0,263.0,279.0,308.0,4.0,275.0
ROBBERY - COMMERCIAL,704.0,375.0,809.0,682.0,552.0,743.0,556.0,484.0,6.0,277.0
ROBBERY - RESIDENCE,212.0,277.0,574.0,301.0,327.0,327.0,426.0,336.0,6.0,268.0
ROBBERY - STREET,2995.0,1564.0,3053.0,2264.0,1752.0,3518.0,2111.0,1523.0,20.0,1376.0
SHOOTING,270.0,571.0,424.0,259.0,424.0,233.0,450.0,539.0,NaN,629.0

In [15]:
neighbor_crime.head()

,CrimeDate,CrimeCode,Location,Description,Weapon,District,Neighborhood
0,07/11/2020,9S,3100 SWAN DR,SHOOTING,FIREARM,NORTHERN,MOUNT VERNON
1,07/11/2020,4E,2600 E HOFFMAN ST,COMMON ASSAULT,NaN,EASTERN,BEREA
2,07/11/2020,1A,4800 THE ALAMEDA,HOMICIDE,FIREARM,NORTHERN,NEW NORTHWOOD
3,07/11/2020,1A,3400 CLIFTON AV,HOMICIDE,FIREARM,SOUTHWEST,MOUNT HOLLY
4,07/11/2020,4C,5900 DAYWALT AVE,AGG. ASSAULT,OTHER,NORTHEAST,CEDONIA

In [27]:
datetime_series = pd.to_datetime(neighbor_crime['CrimeDate'])
dates = pd.DatetimeIndex(datetime_series.values)
dates

DatetimeIndex(['2020-07-11', '2020-07-11', '2020-07-11', '2020-07-11',
               '2020-07-11', '2020-07-11', '2020-07-11', '2020-07-11',
               '2020-07-11', '2020-07-11',
               ...
               '1982-08-01', '1981-12-01', '1980-07-01', '1978-01-01',
               '1978-01-01', '1977-05-01', '1975-06-01', '1973-07-01',
               '1969-07-20', '1963-10-30'],
              dtype='datetime64[ns]', length=308116, freq=None)

In [28]:
newdf = neighbor_crime.set_index(datetime_index)

In [29]:
#extra
newdf.drop('CrimeDate',axis=1,inplace=True)
newdf #creating a new dataframe without the old crime date, not needed

,CrimeCode,Location,Description,Weapon,District,Neighborhood
2020-07-11,9S,3100 SWAN DR,SHOOTING,FIREARM,NORTHERN,MOUNT VERNON
2020-07-11,4E,2600 E HOFFMAN ST,COMMON ASSAULT,NaN,EASTERN,BEREA
2020-07-11,1A,4800 THE ALAMEDA,HOMICIDE,FIREARM,NORTHERN,NEW NORTHWOOD
2020-07-11,1A,3400 CLIFTON AV,HOMICIDE,FIREARM,SOUTHWEST,MOUNT HOLLY
2020-07-11,4C,5900 DAYWALT AVE,AGG. ASSAULT,OTHER,NORTHEAST,CEDONIA
...,...,...,...,...,...,...
1977-05-01,2A,600 W 34TH ST,RAPE,OTHER,NORTHERN,WYMAN PARK
1975-06-01,2A,4400 OLD FREDERICK RD,RAPE,OTHER,SOUTHWEST,UPLANDS
1973-07-01,2A,BL & W FOREST PARK AV,RAPE,OTHER,NORTHWEST,NaN
1969-07-20,2A,5400 ROLAND AVE,RAPE,OTHER,NORTHERN,ROLAND PARK
1963-10-30,2A,3100 FERNDALE AVE,RAPE,OTHER,NORTHWEST,HOWARD PARK

In [33]:
dates

DatetimeIndex(['2020-04-18', '2020-04-18', '2020-04-18', '2020-04-18',
               '2020-04-18', '2020-04-18', '2020-04-18', '2020-04-18',
               '2020-04-18', '2020-04-18',
               ...
               '1988-05-01', '1985-01-01', '1982-08-01', '1981-12-01',
               '1980-07-01', '1978-01-01', '1977-05-01', '1975-06-01',
               '1969-07-20', '1963-10-30'],
              dtype='datetime64[ns]', length=299766, freq=None)